{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<h1 class="pd-2">Available Routes</h1>
<div class="table_container">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Path</th>
            <th>Controller</th>
            <th>Methods</th>
        </tr>
        </thead>
        <tbody>
        {% for route in formatted_routes %}
            <tr>
                <td>{{ route.name }}</td>
                <td><a href="{{ route.path }}">{{ route.path }}</a></td>
                <td>{{ route.controller }}</td>
                <td>{{ route.methods }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}